.hero {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(247, 245, 244);

  width: 100%;
  height: 70svh;

  background-image: url("https://c4.wallpaperflare.com/wallpaper/611/354/327/classical-art-jan-matejko-painting-polish-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 30%; /* Change this if you want to change positioning*/
}

/* Dark overlay */
/*.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
} */

/* Content layer */
.heroContent {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: clamp(1rem, 4vw, 3rem);
}
.text_hero{
  padding-top: 90%;
}

/* Button styling */
.cta {
  width: 250px;
}
